.form_control {
  margin-bottom: 0.5rem;
  min-width: 350px;
  display: block;
  flex-direction: column;

  label {
    margin-bottom: 0.1rem;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.invalid {
  input {
    border: 1px solid var(--red);
  }
}

.invalid .feedback {
  color: var(--red);
  font-size: 0.8em;
}

.invalid input[type='password'] {
  border: 1px solid var(--red);
}
