.label {
  display: inline;
  margin-bottom: 0.1rem;
  padding-left: 5px;
  justify-content: space-between;
  font-weight: 500;
}

.input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input[type='text'] {
  width: 100%;
}

.form-control {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.checkbox {
  flex-direction: row;
}

.error-input {
  border-color: rgb(255, 94, 94);
  outline: none;
  &:focus {
    border-color: rgb(255, 132, 132);
  }
}

.error-label {
  color: rgb(255, 75, 75);
}

.inputWithUnits {
  display: flex;
  align-items: center;
}

.inputWithUnits .input {
  flex: 1;
  font-family: inherit;
  font-size: inherit;
}

.inputWithUnits .units {
  margin-left: 8px;
  color: #555;
  font-family: inherit;
  font-size: inherit;
}
