.file-list-item {
  font-size: 14px;
  padding: 4px;

  td {
    a {
      text-decoration: underline;
    }
  }
}

.file-form-wrapper {
  padding-top: 10px;
}

.file-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
