.tableContainer {
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white);
  color: var(--black);

  th,
  td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid var(--gray-200); // Add horizontal lines

    :only-child {
      margin: 0;
    }
  }

  th {
    background-color: var(--lightMint);
    color: var(--darkGreen);
  }

  tr:nth-child(even) {
    background-color: var(--gray-100);
  }

  // tr:hover {
  //   background-color: var(--gray-200);
  // }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;

  li {
    display: inline;
    margin: 0 5px;

    a {
      text-decoration: none;
      color: var(--darkGreen);
      padding: 5px 10px;
      border: 1px solid var(--gray-200);
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: var(--mint);
      }
    }
  }

  .active a {
    background-color: var(--darkGreen);
    color: var(--white);
  }

  .break-me {
    cursor: default;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.clickableTable {
  @extend .table;

  /* Hover effect */
  tr:hover {
    background-color: var(--gray-200);
  }

  /* Pointer cursor */
  tr {
    cursor: pointer;
  }
}
