.container {
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--gray-800);
  text-align: center;
}

.success {
  color: var(--green);
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
}

.fieldGroup {
  margin-bottom: 15px;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.1rem;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  text-align: left;
}

.field {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray-200);
  border-radius: 4px;
  font-size: 16px;
}

textarea.field {
  resize: vertical;
  min-height: 100px;
}

.error {
  color: var(--pink);
  margin-top: 5px;
  font-size: 14px;
}

// .buttons {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 20px;
// }

.submitButton {
  background-color: var(--mint);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--darkGreen);
  }
}

.cancelButton {
  background-color: var(--gray-400);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--gray-600);
  }
}

.waiting {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
