.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid var(--gray-200);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}